/* Modal Styles */
.modal { display: none; position: fixed; z-index: 1001; padding-top: 50px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.85); }
.modal-content { margin: auto; display: block; max-width: 90%; max-height: 80vh; animation-name: zoom; animation-duration: 0.3s; }
#modal-caption { margin: auto; display: block; width: 80%; max-width: 700px; text-align: center; color: #ccc; padding: 10px 0; height: 50px; font-size: 0.9em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.modal-close-btn { position: absolute; top: 15px; right: 35px; color: #f1f1f1; font-size: 40px; font-weight: bold; transition: 0.3s; cursor: pointer; }
.modal-close-btn:hover, .modal-close-btn:focus { color: #bbb; text-decoration: none; }
@keyframes zoom { from {transform: scale(0.8)} to {transform: scale(1)} }

